@charset "UTF-8";
:root {
  --main-font: Roboto;
  --second-font: Raleway;
  --spare-font: sans-serif;
  --text-prime-color: #212121;
  --text-second-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --black-studio-color: #000000;
  --black-footer-color: #2f303a;
  --inactive-but-color: #f5f4fa;
  --mail-footer-color: rgba(255, 255, 255, 0.6);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* Убрать точки,марджинги, падинги со списков */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  background-color: var(--white-color);
  color: var(--text-second-color);
  font-family: var(--main-font), var(--spare-font);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 320px) {
  body {
    overflow-x: hidden;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 320px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  display: block;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo__start {
  color: var(--accent-color);
}

.logo__end--header {
  color: var(--black-studio-color);
}

.logo__end--footer {
  color: var(--white-color);
}

.header__logo {
  margin-right: 93px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__logo {
    margin-right: 0;
  }
}

.footer__logo {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
}

.header-flex {
  display: flex;
  align-items: center;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
  min-width: 320px;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .site-nav {
    margin-left: 70px;
  }
}

.mail-tel {
  display: flex;
  align-items: center;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .mail-tel {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mail-tel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.mail-tel__item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mail-tel__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.site-nav__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-prime-color);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link--act {
  position: relative;
  color: var(--accent-color);
}

.site-nav__link--act::after {
  content: '';
  position: absolute;
  top: 46px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.mail-tel__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-second-color);
}

.mail-tel__link:focus, .mail-tel__link:hover {
  color: var(--accent-color);
}

.mail-tel__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--text-second-color);
}

.mail-tel__link:hover .mail-tel__icon,
.mail-tel__link:focus .mail-tel__icon {
  fill: var(--accent-color);
}

.mail-tel__icon--size {
  width: 10px;
  height: 16px;
}

.button-menu,
.social-list-mobile {
  display: none;
}

@media screen and (max-width: 767px) {
  .header {
    padding: 10px 0;
  }
  .mail-tel,
  .site-nav,
  .social-list-mobile {
    display: none;
  }
  .header-flex {
    justify-content: space-between;
    flex-grow: 1;
  }
  .button-menu-open {
    display: block;
    line-height: 0;
    background-color: transparent;
    border: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .button-menu-open:focus, .button-menu-open:hover {
    fill: var(--accent-color);
  }
  .header .button-menu-close {
    display: none;
  }
  .header.is-open {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: var(--white-color);
  }
  .header.is-open .logo {
    display: none;
  }
  .header.is-open .button-menu-close {
    display: block;
    line-height: 0;
    background-color: transparent;
    border: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header.is-open .button-menu-close:focus, .header.is-open .button-menu-close:hover {
    fill: var(--accent-color);
  }
  .header.is-open .button-menu-open {
    display: none;
  }
  .header.is-open .mail-tel,
  .header.is-open .site-nav {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .header.is-open .mail-tel {
    margin-left: 0;
    flex-direction: column-reverse;
  }
  .header.is-open .mail-tel__item:not(:first-child) {
    margin-right: 0;
    margin-bottom: 32px;
  }
  .header.is-open .mail-tel__icon {
    display: none;
  }
  .header.is-open .mail-tel__link {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    color: var(--accent-color);
  }
  .header.is-open .mail-tel__link-email {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    color: var(--text-second-color);
  }
  .header.is-open .header-flex {
    justify-content: start;
    flex-direction: column;
    align-items: stretch;
  }
  .header.is-open .button-menu {
    align-self: end;
  }
  .header.is-open .header-flex.container {
    justify-content: space-between;
    height: 100%;
    padding-left: 40px;
    padding-bottom: 48px;
  }
  .header.is-open .site-nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 32px;
  }
  .header.is-open .site-nav__link {
    font-size: 40px;
    line-height: 1.18;
  }
  .header.is-open .site-nav__link--act::after {
    display: none;
  }
  .header.is-open .social-list-mobile {
    display: flex;
    flex-direction: row;
    margin-top: 64px;
  }
  .header.is-open .social-list-mobile__item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .header.is-open .social-list-mobile__item:not(:first-child) {
    padding-left: 10px;
  }
  .header.is-open .social-list-mobile__link {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
}

.hero {
  padding: 118px 0;
  text-align: center;
  margin: 0 auto;
  background-color: var(--black-footer-color);
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  background-image: url(../images/hero/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-width: 320px;
  height: 400px;
}

@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero/hero2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: url(../images/hero/hero-tablet.jpg);
    padding: 118px 0;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero/hero-tablet2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: url(../images/hero/hero-desktop.jpg);
    height: 600px;
    padding: 200px 0;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero/hero-desktop2x.jpg);
  }
}

.hero__title {
  max-width: 360px;
  height: 84px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.button {
  color: var(--white-color);
  border-radius: 4px;
  border: none;
  margin-top: 30px;
  min-width: 200px;
  padding: 10px 32px;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: inline-block;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.benefits-list {
  margin-left: -30px;
  margin-top: -30px;
}

.benefits-section {
  padding-bottom: 60px;
  padding-top: 60px;
  padding-left: 0;
  padding-right: 0;
}

.benefits-list__item {
  margin-left: 30px;
  margin-top: 30px;
}

.benefits-list__thumb {
  height: 120px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: var(--inactive-but-color);
}

.benefits-list__icon {
  width: 70px;
  height: 70px;
}

.benefits-list__title {
  color: var(--text-prime-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-align: center;
}

.benefits-list__text {
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
  }
  .benefits-list .benefits-list__title {
    text-align: left;
  }
  .benefits-list .benefits-list__text {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .benefits-list__item {
    flex-basis: calc((100% - 60px) / 2);
    min-width: 270px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-list__item {
    flex-basis: calc((100% - 120px) / 4);
    min-width: 270px;
  }
}

.projects-section__title {
  margin-bottom: 50px;
  color: var(--text-prime-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
}

.projects-list__bgr {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 24%;
  bottom: 0;
  left: 0;
  background: rgba(47, 48, 58, 0.8);
}

.projects-list__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.projects-list__item {
  position: relative;
  flex-basis: calc((100% - 60px) / 3);
  max-width: 370px;
}

.projects-list__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.projects-list__item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.projects-section {
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .projects-section {
    display: none;
  }
}

.team-list {
  margin-top: -30px;
  margin-left: -30px;
}

.team-list__item {
  margin-top: 30px;
  margin-left: 30px;
}

.team-section {
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-size: cover;
  text-align: center;
  background-color: var(--inactive-but-color);
}

.team-section__title {
  margin-bottom: 30px;
  color: var(--text-prime-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team-list__thumb {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list__name {
  margin-bottom: 10px;
  color: var(--text-prime-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-list__field {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.team-list__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  background-color: var(--white-color);
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .team-list__item {
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team-section {
    max-width: 1600px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team-section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__item {
    flex-basis: calc((100% - 120px) / 4);
    max-width: 270px;
  }
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-list__item {
  width: 44px;
  height: 44px;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-list__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #afb1b8;
  width: 20px;
  height: 20px;
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: var(--white-color);
}

.social-list__icon__footer {
  fill: var(--white-color);
}

.clients-section {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.clients-section__title {
  margin-bottom: 30px;
  color: var(--text-prime-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.clients-list {
  margin-top: -30px;
  margin-left: -30px;
  display: flex;
  flex-wrap: wrap;
}

.clients-list__item {
  flex-basis: calc((100% - 60px) / 2);
  height: 92px;
  margin-top: 30px;
  margin-left: 30px;
}

@media screen and (min-width: 768px) {
  .clients-list__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item {
    flex-basis: calc((100% - 180px) / 6);
  }
}

@media screen and (min-width: 1200px) {
  .clients-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-section__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.clients-list__link {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients-list__link:hover,
.clients-list__link:focus {
  border: 1px solid var(--accent-color);
}

.clients-list__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #afb1b8;
  width: 106px;
  height: 60px;
}

.clients-list__link:hover .clients-list__icon,
.clients-list__link:focus .clients-list__icon {
  fill: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .footer-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}

@media screen and (max-width: 1199px) {
  .footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-right {
    margin-top: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .footer-right {
    display: block;
    text-align: center;
    min-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 1199px) {
  .footer-list__item {
    text-align: center;
  }
}

@media screen and (max-width: 1199px) {
  .footer-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .footer-center__title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-center {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1199px) {
  .footer-invite-email {
    margin-bottom: 20px;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
  background-color: var(--black-footer-color);
  min-width: 320px;
}

.address__text {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-color);
}

.footer-list__item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--mail-footer-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  padding-top: 9px;
}

.footer-list__item:hover, .footer-list__item:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .footer-flex {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer-left {
    margin-right: 70px;
  }
}

.footer-center__title {
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

@media screen and (min-width: 1200px) {
  .footer-right {
    margin-left: 93px;
  }
}

.footer-invite {
  display: inline-block;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .footer-invite-thumb {
    display: block;
    text-align: center;
    min-width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-invite-thumb {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-invite-thumb {
    display: flex;
    justify-content: end;
    align-items: center;
  }
}

.footer-invite-email::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
}

.send-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .send-btn {
    margin-left: auto;
    margin-right: auto;
  }
}

.send-btn__icon {
  width: 24px;
  height: 24px;
  padding-left: 10px;
}

.footer-invite-email {
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--black-footer-color);
  resize: none;
}

@media screen and (max-width: 767px) {
  .footer-invite-email {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-invite-email {
    width: 450px;
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-invite-email {
    margin-right: 12px;
    padding-left: 16px;
    width: 358px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

@media screen and (max-width: 480px) {
  .backdrop {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 581px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: scale(1) translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

@media screen and (max-width: 480px) {
  .modal {
    position: relative;
  }
}

@media screen and (min-width: 481px) and (max-width: 1199px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.is-hidden .modal {
  transform: scale(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--white-color);
}

.btn-close__icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover .btn-close__icon,
.btn-close:focus .btn-close__icon {
  fill: var(--accent-color);
}

@media screen and (max-width: 768px) {
  .modal-form__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 12px;
    color: var(--text-prime-color);
  }
}

@media screen and (min-width: 768px) {
  .modal-form__title {
    line-height: 1.15;
  }
}

.modal-form__label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.modal-form__thumb {
  position: relative;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

.modal-form__input {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 35px;
  padding-right: 35px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:hover, .modal-form__input:focus {
  border-color: var(--accent-color);
}

.modal-form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: var(--text-prime-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:hover ~ .modal-form__icon,
.modal-form__input:focus ~ .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__message {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px 12px 16px;
  margin-bottom: 20px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__message:hover, .modal-form__message:focus {
  border-color: var(--accent-color);
}

.modal-form__message::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__accept-label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-second-color);
}

.modal-form__icon-thumb {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--text-prime-color);
  border-color: var(--text-prime-color);
  border-radius: 2px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__accept-checkbox:checked + .modal-form__accept-label .modal-form__icon-thumb {
  border-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  background-size: 16px 15px;
  background-position: center;
}

.modal-form__accept-label:hover .modal-form__icon-thumb,
.modal-form__accept-label:focus .modal-form__icon-thumb {
  border-color: var(--accent-color);
}

.modal-form__accept-checkbox:focus + .modal-form__accept-label .modal-form__icon-thumb {
  border-color: var(--accent-color);
}

.modal-form__accept-link {
  color: var(--accent-color);
}

.modal-form__button {
  margin-top: 30px;
}

.modal-form {
  text-align: center;
}

.modal-form__accept-text,
.modal-form__accept-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--text-second-color);
}

@media screen and (min-width: 1200px) {
  .modal-form__accept-text,
  .modal-form__accept-link {
    font-size: 14px;
    line-height: 1.7;
  }
}

.modal-form__accept-link {
  color: var(--accent-color);
}

.but-act {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.but {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--text-prime-color);
  background-color: var(--inactive-but-color);
}

.but:hover, .but:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.but,
.but-act {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: inherit;
  text-decoration: none;
  border-radius: 4px;
  border-width: 0px;
}

.project-portf__descr {
  margin-top: 24px;
  margin-bottom: 24px;
  margin-right: 20px;
  margin-left: 20px;
  text-align: left;
}

.project-portf__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-prime-color);
}

.project-portf__kind {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-second-color);
}

@media screen and (max-width: 767px) {
  .filter-flex {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-top: -15px;
    margin-left: -8px;
    margin-bottom: 30px;
  }
  .filter-flex__item {
    margin-left: 8px;
    margin-top: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .filter-flex {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .filter-flex__item:not(:last-child) {
    margin-right: 8px;
  }
}

@media screen and (max-width: 1199px) {
  .portfolio-section {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-section {
    padding-top: 94px;
    padding-bottom: 94px;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .filter-flex {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  .filter-flex__item:not(:last-child) {
    margin-right: 8px;
  }
}

@media screen and (max-width: 767px) {
  .project-portf {
    display: block;
    margin-bottom: 30px;
  }
  .project-portf__item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .project-portf {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  .project-portf__item {
    flex-basis: calc((100% - 60px) / 2);
    border-bottom: 1px #eeeeee;
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .project-portf {
    display: flex;
    flex-wrap: wrap;
  }
  .project-portf__item {
    flex-basis: calc((100% - 60px) / 3);
    border-bottom: 1px #eeeeee;
  }
  .project-portf__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .project-portf__item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

.project-portf__link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.project-portf__link:hover, .project-portf__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-portf__overlay {
  position: relative;
  overflow: hidden;
}

.project-portf__item {
  border: 1px solid #eeeeee;
}

.project-portf__text {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  text-align: left;
  color: var(--white-color);
}

.project-portf__link:hover .project-portf__text,
.project-portf__link:focus .project-portf__text {
  transform: translateY(0);
}
/*# sourceMappingURL=main.css.map */