body {
  // min-width: 1600px;
  background-color: var(--white-color);
  color: var(--text-second-color);
  font-family: var(--main-font), var(--spare-font);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
