:root {
  --main-font: Roboto;
  --second-font: Raleway;
  --spare-font: sans-serif;
  --text-prime-color: #212121;
  --text-second-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --black-studio-color: #000000;
  --black-footer-color: #2f303a;
  --inactive-but-color: #f5f4fa;
  --mail-footer-color: rgba(255, 255, 255, 0.6);
}
