.footer-flex {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.footer-flex {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}
.footer-left {
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
}
.footer-right {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 60px;
  }
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }
  @media screen and (max-width: 767px) {
    display: block;
    text-align: center;
    min-width: 100%;
  }
}

.footer-list {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.footer-list__item {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}
.footer-center {
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
    &__title {
      text-align: center;
    }
  }
}
.footer-center {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.footer-invite-email {
  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  // max-width: 1600px;
  margin: 0 auto;
  background-color: var(--black-footer-color);
  min-width: 320px;
}
.address__text {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-color);
}
.footer-list__item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--mail-footer-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  padding-top: 9px;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.footer-flex {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}
.footer-left {
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}
.footer-center__title {
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}
.footer-right {
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}
.footer-invite {
  display: inline-block;
  margin-bottom: 20px;
}
.footer-invite-thumb {
  @media screen and (max-width: 767px) {
    display: block;
    text-align: center;
    min-width: 100%;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: end;
    align-items: center;
  }
}
.footer-invite-email::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  // display: flex;
  // align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
}
.send-btn {
  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.send-btn__icon {
  width: 24px;
  height: 24px;
  padding-left: 10px;
}
.footer-invite-email {
  // max-width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--black-footer-color);
  resize: none;
  @media screen and (max-width: 767px) {
    width: 100%;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 450px;
    margin-right: 0;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 12px;
    padding-left: 16px;
    width: 358px;
  }
}
